*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 150vh;
    background-color: #061021;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap : 20px;
    
}
h1{
    color: rgb(243, 245, 194);
    text-align: center;
    font-family :Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}
.game{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr ;
    width: 480px;
    height: 480px;
    gap: 10px;
     
    box-sizing: border-box;  
    
}
.squares{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    background-color:rgb(243, 245, 194);
    color: rgb(80, 12, 12);
    font-size: 60px;
    text-align:center;
    padding-top: 45px;
    padding-bottom: 45px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    

}
.reset{
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-size: 25px;
    background-color: rgb(78, 202, 78);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
     
}
.new{
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-size: 25px;
    background-color: rgb(78, 202, 78);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
     

}
.hide{
    display: none;
    
}

#win{
    
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}